body{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.logo{
    min-width: 100px;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed; /*Per poter spostare la pag. senza spostare sidenav*/
    z-index: 1;
    background-color: #f1f1f1;
    overflow-x: hidden; /*nasconde gli elementi che uscirebbero fuori dal sidenav*/
    transition: 0.3s;
    display:flex; /* per poter controllare gli elementi figli */
    align-items: center; /*Allinea verticalmente gli elementi figli*/
    border: 1px solid gray;
}

.sidenav.open{
    width: 330px;
}

.close-button{
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.close-button:hover{
    text-decoration: none;
    color: #a1003e;
}

.sidenav .search-container {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 268px;
    display: flex;
    align-items: baseline;
    border: 2px solid gray;
    border-radius: 3px;
    background: white;
}

.sidenav .search-container .custom-input {
    flex: 1; /*Così input dovrebbe occupare tutto lo spazio disponibile*/
    padding: 6px;
    font-size: 17px;
    color: black;
    border: none;
}

.sidenav .search-container button {
    padding: 6px 10px;
    background: white;
    font-size: 17px;
    cursor: pointer;
    border: none;
    margin-left: 0;
}

.sidenav .search-container:hover{
    border-color: cornflowerblue;
}

.sidenav .search-container .custom-input:focus{
    outline: none;
}

.sidenav .search-container button:hover {
    color: #ccc;
}


@media screen and (max-width: 750px) {
    .sidenav.open {
        width: 100%;
    }

    .sidenav .search-container{
        display: flex;
        width: 90%;
        padding: 0;
    }

    .sidenav .search-container .custom-input{
        flex: 1;
        width: 100%;
        border: none !important;

    }

    .sidenav .search-container button{
        position: absolute;
        top: 0;
        right: 0;
    }
}


.Newsletter{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    font-size: 20px;
    width: 95%;
    height: 40px;
    margin-left: 12px;
    border: 2px rgb(214, 0, 54);
    border-radius: 20px;
    background-color: rgb(214, 0, 54);
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.Newsletter a{
    color: white;
    flex: 1;
    text-decoration: none;
}

.Newsletter :hover{
    width: 100%;
    height: 100%;
    background-color: #e19997;
    border: 2px #e19997;
}

.dropdown{
    position: absolute;
    top: 150px;
    width: 100%;
}

.dropdown-button {
    display: block;
    text-align: left;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 6px 8px 6px 16px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
}

.dropdown-button:hover{
    color: #666666;
}

.sidenav .dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 20px;
    margin-top: 5px;
    border-left: 3px solid #444;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.fa-caret-down{
    float: right;
    padding-right: 8px;
}

.sidenav .dropdown-container a{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 8px 0;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
FINE SIDENAV
 -------------------------------------------------------------*/

.contenitore1{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contenitore2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenitoreup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.Newsletters{
    background-color: rgb(214, 0, 54);
    display: flex;
    text-align: center;
    margin: 15px 3px;
    border: 2px rgb(214, 0, 54);
    border-radius: 20px;
    box-sizing: border-box;
}

.Newsletters a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 30px;
    box-sizing: border-box;
}

.SignIn{
    display:flex;
    text-align: center;
    margin: 15px 15px 15px 3px;
    box-sizing: border-box;
}

.SignIn a{
    color: black;
    font-size: 18px;
    padding: 5px 30px;
    text-decoration: underline;
    font-weight: 500;
}

.contenitoredown{
    border-top: 1px solid #bbb;
    width: 100%;

    display: block;
}

.contenitoredown a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 800px){
    .contenitoredown{
        display:none;
    }
    header{
        height: 70px;
        display:flex;

    }
    .logo{
        height: 70px;

    }
}

/*------------------------------------------------------------
MAIN
 -----------------------------------------------------------*/

main{
    border-top: 1px solid #bbb;
    padding-top: 100px;
    display: flex;
    margin: 0 60px;
}

.row1{
    display: flex;
    width: 100%;
}

.miniarticle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #bbb;
}

.miniarticle a{
    text-decoration: none;
}

.miniarticle1 a{
    text-decoration: none;
}

.miniarticle1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniarticle1 .title{
    color: rgb(214, 0, 54);
    font-size: 15px ;
    font-weight: 500;
    padding: 2px;
}

.miniarticle1 .paraf{
    color: black;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.miniarticle1 .miniimg {
    top: 0;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.miniarticle .title{
    color: rgb(214, 0, 54);
    font-size: 15px ;
    font-weight: 500;
    padding: 2px;
}

.paraf{
    color: black;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.miniarticle .miniimg {
    top: 0;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.col1{
    text-decoration: none;
}


.col2{
    justify-content: center;
    flex-direction: row;
}

.col2 a{
    text-decoration: none;
}

.col3{
    flex-direction: row;
    text-decoration: none;
}


@media screen and (max-width: 1000px){
    .col3{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .col1{
        display: none;
    }
}

.contorno {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index:1;
    text-decoration: none;
}

.cella{
    width: 100%;
    border:1px solid black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 40px 15px 15px 15px;
    position: relative;
    z-index: 2;
    text-decoration: none;
}

.paragrafo{
    padding: 5px;
    color: black;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    border-top: 6px dotted gray;
    text-decoration: none;
}

.uprowborder{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    padding: 3px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.uprow{
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: center;
    border:1px solid black;
    border-radius: 6px;
    padding: 1px;
    box-sizing: border-box;
}

.uprowtext{
    z-index: 20;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.borprincimage{
   position: relative;
    text-align: center;
}

.bottom-left{
    position: absolute;
    bottom: -10px;
    left: 60px;
    background-color: rgb(214, 0, 54);
    padding: 10px 17px;
    font-weight: bold;
    color: white;
}


.principletitle{
    margin: 20px 0;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid rgb(214, 0, 54);
}

.principletitle :hover{
    color: #666666;
}

.downtitle{
    font-size: 18px;
}

.credits{
    color: gray;
    font-weight: bold;
}

.secondarticle{
    border-top: 1px solid #bbb;
}

.secondimg{
    margin: 20px 0;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.firstarg{
    padding: 8px 15px;
    font-weight: bold;
    color: rgb(214, 0, 54);
    width: 30%;
    margin: 25px;
}

.secondtitle{
    color: black;
}


